<menu>
    <Services>
        <e2guardian VisibleName="E2guardian Content Filter" cssClass="fa fa-tags">
            <Settings order="10" VisibleName="Settings" url="/ui/e2guardian/general/index#general"/>
            <Groups order="20" VisibleName="Groups" url="/ui/e2guardian/general/index#groups"/>
            <Access order="30" VisibleName="Access Log" url="/ui/diagnostics/log/e2guardian/access"/>
        </e2guardian>
    </Services>
</menu>